[Unit]
Description=uWSGI Service

[Service]
ExecStart=/usr/local/bin/uwsgi-cgi --ini /etc/uwsgi/uwsgi-cgi-py.ini --http-modifier1 9 --master
Restart=always
RestartSec=5
KillSignal=SIGQUIT
Type=notify
NotifyAccess=all

[Install]
WantedBy=multi-user.target

